//
// Modal Object
//
// A parent object that acts as a skeleton for
// modal variants like 'popovers' and 'modals'
//

$modal-bg: $white;
$modal-text: $dark;
$modal-header-bg: $silver-light;
$modal-border: $platinum;
$modal-border-width: 1px;
$modal-border-radius: 2px;

// minimum required styles on any potential container
// for a relatively-positioned modal (e.g. popout)
.modal-trig {
    max-height: 100%;
    position: relative;
    display: inline-block;
}

.modal {
    // do not inherit text styles
    font-weight: 400;
    line-height: 1.2;

    h1, h2, h3, h4, h5 {
        padding: 0;
    }

    p {
        padding: $half-unit 0 0;
    }
}

.modal__overlay {
    @include absolute-center();
    display: none;
}

.modal__wrap {

}

.modal__box {
    @include border-radius($modal-border-radius);

    background-color: $modal-bg;
    color: $modal-text;

    white-space: normal;
    text-align: center;
}

// standard internal elements
.modal__header {
    padding: $base-unit;
    background: $modal-header-bg;
    border-bottom: $modal-border-width solid $modal-border;
}

.modal__header--top {
    border-top-right-radius: $modal-border-radius;
    border-top-left-radius: $modal-border-radius;
}

.modal__header--bottom {
    border-bottom-right-radius: $modal-border-radius;
    border-bottom-left-radius: $modal-border-radius;
}

    .modal__header__title {
        font-weight: 600;
    }

.modal__body {
    padding: $base-unit;
    position: relative;
    display: block;
}

.modal__list {
    padding: 0;
}

    .modal__list__link {
        display: block;
        color: $slate-light;
        text-decoration: none;

        &:visited,
        &:focus {
            color: $slate-light;
        }

        &:active,
        &:hover {
            color: $slate-light;
            background-color: $modal-header-bg;
            text-decoration: none;
        }

        &.is-selected {
            color: $red;

            &:hover,
            &:active {
                color: $red;
                background-color: transparent;
            }
        }

        &.is-disabled {
            color: $gray-light;
            background-color: inherit;
        }
    }

