/*
    Popouts
    
    Relative-positioned modals, 
    containing small content blocks.

*/

$popout-bg: $white;
$popout-header-bg: $silver-light;
$popout-border: $platinum;
$popout-border-width: 1px;

$popout-arrow-size: 10px;
$popout-spacing: 12px;
$popout-spacing-v: 8px;
$popout-spacing-bottom-side: 22px;

$popout-width: 200px;
$popout-width-sm: 160px;
$popout-width-lg: 230px;

// minimum required styles on any potential container for the wrap and popout
.popout-trig {
    max-height: 100%;
    position: relative;
    display: inline-block;
}

// positioning container
.popout-wrap {
    position: absolute;
    display: block;
    margin: auto;
    height: 0;
    width: 0;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}
    .popout-wrap--top,
    .popout-wrap--bottom,
    .popout-wrap--bottom-left,
    .popout-wrap--bottom-right {
        height: 100%;
    }
    
    .popout-wrap--left,
    .popout-wrap--right {
        width: 100%;
    }


// main styling element
.popout {
    @include transition(opacity 0.15s ease-out false, transform 0.15s ease-out false);
    @include transform(scale(0.85));
    @include border-radius(2px);
    @include box-shadow(0 0 0.2px 1px rgba(0, 0, 0, 0.1));
    @include rem(font-size, 1rem);
    
    background-color: $popout-bg;
    color: $dark;
    
    // do not inherit text styles
    font-weight: 400;
    line-height: 1.2;
    
    width: $popout-width;
    position: absolute;
    display: block;
    
    bottom: auto;
    right: auto;
    left: auto;
    top: auto;
    
    white-space: normal;
    text-align: center;
    
    visibility: hidden;
    opacity: 0;
    
    &:before,
    &:after {
        content: "";
        display: block;
        position: absolute;
        height: 0;
        width: 0;
    }
    
    &.is-showing {
        @include transform(scale(1));
        visibility: visible;
        z-index: 250;
        opacity: 1;
    }
    
    h1, h2, h3, h4, h5 {
        padding: 0;
    }
    
    p {
        padding: $half-unit 0 0;
    }
}
// popout sizes
.popout--sm {
    width: $popout-width-sm;
}
.popout--lg {
    width: $popout-width-lg;
}

// popout locations
.popout--top {
    margin-bottom: $popout-spacing-v;
    bottom: 100%;
    left: -$popout-width/2;
    
    &.popout--sm {
        left: -$popout-width-sm/2;
    }
    &.popout--lg {
        left: -$popout-width-lg/2;
    }
    
    &:before,
    &:after {
        margin-left: -$popout-arrow-size;
        bottom: -$popout-arrow-size;
        left: 50%;
        
        border: $popout-arrow-size solid transparent;
        border-bottom-width: 0;
    }
    &:before {
        border-top-color: $popout-border;
    }
    &:after {
        border-top-color: $popout-bg;
        margin-bottom: $popout-border-width;
    }
}

.popout--left {
    margin-right: $popout-spacing;
    right: 100%;
    top: -$popout-spacing*1.5;
    
    &:before,
    &:after {
        right: -$popout-arrow-size;
        top: $popout-spacing;
        
        border: $popout-arrow-size solid transparent;
        border-right-width: 0;
    }
    &:before {
        border-left-color: $popout-border;
    }
    &:after {
        border-left-color: $popout-bg;
        margin-right: $popout-border-width;
    }
}

.popout--right {
    margin-left: $popout-spacing;
    left: 100%;
    top: -$popout-spacing*1.5;
    
    &:before,
    &:after {
        left: -$popout-arrow-size;
        top: $popout-spacing;
        
        border: $popout-arrow-size solid transparent;
        border-left-width: 0;
    }
    &:before {
        border-right-color: $popout-border;
    }
    &:after {
        border-right-color: $popout-bg;
        margin-left: $popout-border-width;
    }
}

.popout--bottom,
.popout--bottom-right,
.popout--bottom-left {
    margin-top: $popout-spacing-v;
    top: 100%;
    
    &:before,
    &:after {
        margin-left: -$popout-arrow-size;
        top: -$popout-arrow-size;
        left: 50%;
        
        border: $popout-arrow-size solid transparent;
        border-top-width: 0;
    }
    &:before {
        border-bottom-color: $popout-border;
    }
    &:after {
        border-bottom-color: $popout-bg;
        margin-top: $popout-border-width;
    }
    &.has-header:after {
        border-bottom-color: $popout-header-bg;
    }
}

.popout--bottom {
    left: -$popout-width/2;
    
    &.popout--sm {
        left: -$popout-width-sm/2;
    }
    &.popout--lg {
        left: -$popout-width-lg/2;
    }
}

.popout--bottom-left {
    right: -$popout-spacing-bottom-side;
    
    &:before,
    &:after {
        left: auto;
        right: $popout-spacing;
        margin-left: 0;
    }
}

.popout--bottom-right {
    left: -$popout-spacing-bottom-side;
    
    &:before,
    &:after {
        margin-left: 0;
        left: $popout-spacing;
    }
}

// standard internal elements
    .popout__header {
        background: $popout-header-bg;
        padding: $base-unit;
        border-bottom: 1px solid $popout-border;
    }
        .popout__header__title {
            font-weight: 600;
        }

    .popout__body {
        padding: $base-unit;
        position: relative;
        display: block;
    }
        .popout__list {
            padding: 0;
        }

        .popout__list__link {
            display: block;
            color: $slate-light;
            text-decoration: none;

            &:visited,
            &:focus {
                color: $slate-light;
            }

            &:active,
            &:hover {
                color: $slate-light;
                background-color: $popout-header-bg;
                text-decoration: none;
            }

            &.is-selected {
                color: $red;

                &:hover,
                &:active {
                    color: $red;
                    background-color: transparent;
                }
            }

            &.is-disabled {
                color: $gray-light;
                background-color: inherit;
            }
        }
