/*
    Popovers!
    
    Users don't normally love these, so please use careuflly.
    
    These are intended to be mostly javascript-free.  We'll see how that works.
    
    To be light on JS, we need to use some special markup like so ...
    
    <div id="[up-to-you]" class="popover">
        <a href="#_" class="popover__esc"></a>
        [your markup here]
    </div>
    
    To trigger, the user would just need to click any link that targets the [up-to-you] anchor.
*/

$popover-shadow: 0 0 15px -3px rgba(0,0,0,0.35);

.popover {
    // default styles
    @include transition(background 0.15s ease-out);
    pointer-events: none;
    display: table;
    overflow: hidden;
    visibility: hidden;
    background: rgba(white,0);
    position: fixed;
    height: 100%;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;

    &.is-showing {
        pointer-events: auto;
        background: #ddd;
        background: rgba(white,0.7);
        visibility: visible;
        z-index: 300;
    }
}
// lots of content, scrolls on smaller screens
// in this use case, .popover__box will require
// a fixed height, or max-height in px.
.popover--scroll {
    display: block;
    
    .popover__wrap,
    .popover__box {
        @include absolute-center();
        display: block;
    }
}
.popover--notransition {
    @include single-transition(none);

    .popover__box {
        @include single-transition(none);
        @include transform(none);
        opacity: 1;
    }
}
.popover--dk {
    &.is-showing {
        background: rgba(210,210,210,0.6);
    }
    .popover__box {
        @include box-shadow($popover-shadow);
    }
}

    .popover__esc {
        display: none;
        position: absolute;
        z-index: 0;
        height: 100%;
        width: 100%;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        
        .popover.is-showing & {
            display: block;
        }
    }
    
    .popover__wrap,
    .popover__box {
        z-index: 5;
        position: relative;
        overflow: hidden;
        margin: auto;
    }
    .popover__wrap {
        pointer-events: none;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
    .popover__box {
        @include transition(opacity 0.15s ease-out, transform 0.15s ease-out);
        @include transform(scale(0.85));
        @include box-shadow($popover-shadow);
        -webkit-overflow-scrolling: touch;
        background-color: $main-bg;
        text-align: center;
        display: table;
        pointer-events: auto;
        opacity: 0;
        
        .popover--notransition & {
            @include single-transition(none);
            @include transform(none);
            opacity: 1;
        }
        .popover.is-showing & {
            @include transform(scale(1));
            opacity: 1;
        }
    }
    
    .popover__wrap--video {
        pointer-events: none;
        max-width: 95%;
        width: 900px;
        left: 0;
        top: 0;
    }
    .popover__box--video {
        pointer-events: all;
        padding-bottom: 56.25%;
        overflow: hidden;
        width: 100%;
        height: 0;
    }
        .popover__box__video {
            position: absolute;
            width: 100% !important;
            height: 100% !important;
            margin: auto;
            bottom: 0;
            left: 0;
            top: 0;
        }

    .popover__box__close {
        @include icon();
        z-index: 1;
        line-height: 1;
        display: block;
        text-align: center;
        position: absolute;
        right: $base-unit;
        top: $base-unit;
        
        font-size: 14px;
        color: #8f8f8f;
        
        &:hover {
            color: #000;
            text-decoration: none;
        }
    }

    .popover__box__content {
        max-height: 100%;
        overflow: auto;
        height: 100%;
    }
